body {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

/*
* Remove navigation bar in small screen.
*/
@media screen and (max-width: 767px) {
  .navbar {
    display: none;
  }
}